
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking management</title>
    <link rel="stylesheet" th:href="@{/css/ticketBookingManagement.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <did th:replace="header :: myheader"></did>
</head>
<body id="body">
<div class="m-3 containerQ">
    <div class="container_Tilte">Cinema room List</div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div class="container_Content mx-3">
        <div class="container_Search">
            <a th:href="@{/cinemaRoom/create}">
                <button class="btn btn-primary"><i class="fa-solid fa-circle-arrow-right"></i> Add new</button>
            </a>
            <span th:if="${warn==1}" class="alert alert-danger text-center w-25">No room found!"</span>
            <span class="container_Search_form">
                <form action="/cinemaRoom" class="form-inline mb-4 mt-5 float-right" method="post">
                    <input name="search" th:value="${search}" class="form-control mr-sm-2" type="text" placeholder="Search"/>
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </span>
        </div>
        <div class="">
            <table class="table table-sm table-striped table_booking mr-5">
                <thead>
                <tr>
                    <th scope="col" class="id">#</th>
                    <th scope="col">Cinema room ID</th>
                    <th scope="col">Cinema room name</th>
                    <th scope="col">Seat quantity</th>
                    <th scope="col">Seat Detail</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="cinemaRoom : ${listCinemaRoom}">
                    <tr>
                        <th></th>
                        <td>[[${cinemaRoom.roomID}]]</td>
                        <td>[[${cinemaRoom.cinemaRoomName}]]</td>
                        <td>[[${cinemaRoom.seatQuantity}]]</td>
                        <td>
                            <a th:href="@{/cinemaRoom/seatCinemaRoom/{id}/{name}(id=${cinemaRoom.roomID}, name=${cinemaRoom.cinemaRoomName})}">Seat Detail</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="mt-5 col-sm-12 d-flex justify-content-center">-->
                <input type="hidden" th:value="${totalPage}" id="total-page">
                <form id="form-paging" class="w-50" action="/cinemaRoom" method="get">
                    <ul class="pagination justify-content-end" id="pagination"></ul>
                    <input type="hidden" th:value="${search}" name="search">
                    <input type="hidden" th:value="${currentPage}" name="currentPage" id="current-page">
                    <input type="hidden" th:value="${sizePage}" name="sizePage" id="size-page">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>

<script type="text/javascript" th:src="@{/js/twbsPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/paging.js}"></script>
</body>
</html>