<!doctype html>
<html lang="en">
<head>
    <title>Movie List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <did th:replace="header :: myheader"></did>
</head>
<body>

<div class="container-fluid">
    <!-- Header -->
    <div class="h1 text-center mt-3 p-2" style="border-bottom: 1px solid #ccc;">Movie List</div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <!-- Start Body -->
    <div class="row justify-content-center">
        <div class="col-md-11">

            <div>
                <a th:href="@{/movie/add-movie}"><button class="btn btn-primary"><i class="fa-solid fa-circle-arrow-right"></i> Add new</button></a>
                <form action="/list-movie" class="form-inline mb-4 mt-5 float-right">
                    <input name="search" th:value="${search}" class="form-control" type="text" placeholder="Search" />
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>

<!--            <div class="form-group float-right">-->
<!--                <label>Search</label>-->
<!--                <input type="text">-->
<!--            </div>-->



            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-2">Movie[ENG]</th>
                    <th scope="col-2">Movie[VN]</th>
                    <th scope="col-1">Release Date</th>
                    <th scope="col-2">Movie Product Company</th>
                    <th scope="col-1">Duration</th>
                    <th scope="col-1">Version</th>
                    <th scope="col-1">Detail</th>
                    <th scope="col-1">Delete</th>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="movie,iter : ${listMovie}">
                    <tr>
                        <th>[[${iter.index}+1]]</th>
                        <td>[[${movie.getNameEnglish()}]]</td>
                        <td>[[${movie.getNameVietnam()}]]</td>
                        <td>[[${movie.getFromDate()}]]</td>
                        <td>[[${movie.getCompany()}]]</td>
                        <td>[[${movie.getDuration()}]]</td>
                        <td>[[${movie.getVersion()}]]</td>
                        <td>
                            <a th:href="@{'/movie/edit/' + ${movie.getMovieId()}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>
                             <a th:href="@{'/movie/delete/' + ${movie.getMovieId()}}"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>



        </div>
    </div>
    <!-- End Body -->

    <div class="mt-5 float-right">
        <input type="hidden" th:value="${totalPage}" id="total-page">
        <form id="form-paging" class="w-50" action="/list-movie" method="get">
            <ul class="pagination justify-content-end" id="pagination"></ul>
            <input type="hidden" th:value="${search}" name="search">
            <input type="hidden" th:value="${currentPage}" name="currentPage" id="current-page">
            <input type="hidden" th:value="${sizePage}" name="sizePage" id="size-page">
        </form>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/twbsPagination.js}"></script>
<script type="text/javascript" th:src="@{/js/paging.js}"></script>
</body>
</html>