<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Promotion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <did th:replace="header :: myheader"></did>
</head>
<body>
<div class="container-fluid">
    <!-- Header -->
    <div class="h1 text-center mt-3 p-2" style="border-bottom: 1px solid #ccc;">Promotion List</div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">

            <div>
                <a th:href="@{/promotion/create}"><button class="btn btn-primary"><i class="fa-solid fa-circle-arrow-right"></i> Add new</button></a>
            </div>

            <!--            <div class="form-group float-right">-->
            <!--                <label>Search</label>-->
            <!--                <input type="text">-->
            <!--            </div>-->

            <form action="/promotion" class="form-inline mb-4 mt-5 float-right">
                <input name="search" th:value="${search}" class="form-control" type="text" placeholder="Search" />
                <button class="btn btn-primary">Search</button>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Promotion ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Discount Level</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>

                <tbody>
                <th:block th:each="promotion,iter : ${listPromotion}">
                    <tr>
                        <th>[[${iter.index}+1]]</th>
                        <td>[[${promotion.promotionId}]]</td>
                        <td>[[${promotion.title}]]</td>
                        <td>[[${promotion.startTime}]]</td>
                        <td>[[${promotion.endTime}]]</td>
                        <td>[[${promotion.discountLevel}]]</td>
                        <td>[[${promotion.detail}]]</td>
                        <td>
                            <a th:href="@{'/promotion/edit/' + ${promotion.promotionId}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>
                            <a th:href="@{'promotion/delete/' + ${promotion.promotionId}}" onclick="return confirm('Are you sure to delete this item?');"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>
    <!-- End Body -->


    <div class="mt-5 float-right">
        <input type="hidden" th:value="${totalPage}" id="total-page">
        <form id="form-paging" class="w-50" action="/promotion" method="get">
            <ul class="pagination justify-content-end" id="pagination"></ul>
            <input type="hidden" th:value="${search}" name="search">
            <input type="hidden" th:value="${currentPage}" name="currentPage" id="current-page">
            <input type="hidden" th:value="${sizePage}" name="sizePage" id="size-page">
        </form>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>

    <script type="text/javascript" th:src="@{/js/twbsPagination.js}"></script>
    <script type="text/javascript" th:src="@{/js/paging.js}"></script>

</body>
</html>