<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- VALIDATION PLUGIN -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <!-- CUSTOM JS-->
    <script type="text/javascript" th:src="@{/js/registerJS.js}"></script>
    <link rel="stylesheet" th:href="@{/css/userHover.css}" />
    <did th:replace="header :: myheader"></did>
</head>

<body>
<!-- START HEADER -->
<!-- END HEADER -->
<div class="container-fluid">
    <div class="row" style="height: 100vh;">
        <div class="col-lg-2 col-md-3 shadow" style="padding: 0;">
            <div class="d-flex justify-content-center my-3">
                <img style="height: 100px; width: 100px;" class="img-responsive rounded-circle border"
                     th:src="@{${account.image}}">
            </div>
            <div class="d-flex justify-content-center pt-2">
                <h6>[[${userName}]]</h6>
            </div>
            <div class="d-flex justify-content-center mb-4" th:if="${account.member != null}">
                <span><i class="fa-solid fa-star" style="color: rgb(223, 223, 98);"></i> Score: [[${account.member.score}]]</span>
            </div>
            <div class="border-top py-3">
                <a class="text-decoration-none text-dark ml-4 hover-me font-weight-bold" th:href="@{'/user'}">Account
                    information</a>
            </div>
            <div class="border-top py-3">
                <a class="text-decoration-none text-dark ml-4 hover-me" th:href="@{'/user/history'}">History</a>
            </div>
            <div class="border-top py-3">
                <a class="text-decoration-none text-dark ml-4 hover-me" th:href="@{'/user/bookedTicket'}">Booked ticket</a>
            </div>
            <div class="border-top border-bottom py-3">
                <a class="text-decoration-none text-dark ml-4 hover-me" th:href="@{'/user/canceledTicket'}">Canceled ticket</a>
            </div>
        </div>
        <div class="col-lg-10 col-md-9">
            <form class="mx-5 my-5" id="register_form" action="/user/edit" method="post" th:object="${accountDTO}">
                <div class="form-group mb-4">
                    <input type="text" class="form-control p-2" placeholder="Account" id="userName"
                           name="userName" th:value="${account.userName}" readonly>
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control p-2" placeholder="Full name" id="fullName"
                           name="fullName" th:field="*{fullName}">
                </div>
                <div class="form-group mb-4">
                    <input type="date" class="form-control p-2" placeholder="Date of birth"
                           id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}">
                </div>
                <div class="form-check form-check-inline mb-4">
                    <input class="form-check-input" type="radio" name="gender" id="gender1" value="Nam" checked>
                    <label class="form-check-label" for="gender1">
                        Nam
                    </label>
                </div>
                <div class="form-check form-check-inline mb-4">
                    <input class="form-check-input" type="radio" name="gender" id="gender2" value="Nu">
                    <label class="form-check-label" for="gender2">
                        Nữ
                    </label>
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control p-2" placeholder="Identity card"
                           id="identityCard" name="identityCard" th:value="${account.identityCard}" readonly>
                </div>
                <div class="form-group mb-4">
                    <input type="email" class="form-control p-2" placeholder="Email" id="email"
                           name="email" th:value="${account.email}" readonly>
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control p-2" placeholder="Address" id="address"
                           name="address" th:field="*{address}">
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control p-2" placeholder="Phone number" id="phoneNumber"
                           name="phoneNumber" th:value="${account.phoneNumber}" readonly>
                </div>
                <div class="form-group mb-4">
                    <input type="text" class="form-control p-2" placeholder="Image (URL)" id="image"
                           name="image" th:field="*{image}">
                </div>

                <div class="form-group">
                    <button id="register" type="submit" class="form-control btn btn-primary mt-3">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>